<p class="ion-margin" *ngIf="!userForm.controls.id.value">
  Preencha os campos abaixo com atenção para adicionar usuário.
</p>

<p class="ion-margin" *ngIf="userForm.controls.id.value">
  Preencha os campos abaixo com atenção para editar usuário.
</p>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <input type="hidden" id="id" name="id" formControlName="id">

  <ion-list lines="full" class="ion-margin">
  <!-- Campo name-->
    <ion-item>
      <ion-label for="name" position="floating" color="primary" >Nome:
        <!-- Se está em estado de erro -->
        <ion-text color="danger" *ngIf="userForm.controls.name.errors">

          <!-- O campo é obrigatorio -->
          <small *ngIf="userForm.controls.name.errors.required">* Obrigatorio</small>
          <!-- Tamanho do campo name -->
          <small *ngIf="userForm.controls.name.errors.minlength">* Invalido</small>

        </ion-text>
      </ion-label>
      <ion-input type="text" id="name" name="name" formControlName="name"></ion-input>
    </ion-item>

 <!-- Campo Email-->
    <ion-item>
      <ion-label for="email" position="floating" color="primary">E-mail:
        <!-- Se está em estado de erro -->
        <ion-text color="danger" *ngIf="userForm.controls.email.errors">

          <!-- O campo é obrigatorio -->
          <small *ngIf="userForm.controls.email.errors.required">* Obrigatorio</small>
          <!-- Tamanho do campo email -->
          <small *ngIf="userForm.controls.name.errors.pattern">* Invalido</small>

        </ion-text>
      </ion-label>
      <ion-input type="text" id="email" name="email" formControlName="email"></ion-input>
    </ion-item>

  <!-- Campo Avatar-->
     <ion-item>
      <ion-label for="avatar" position="floating" color="primary">URL do avatar:
          <!-- Se está em estado de erro -->
          <ion-text color="danger" *ngIf="userForm.controls.avatar.errors">
          <!-- O campo é obrigatorio -->
          <small *ngIf="userForm.controls.avatar.errors.required">* Obrigatorio</small>
          <!-- Tamanho do campo avatar -->
          <small *ngIf="userForm.controls.avatar.errors.pattern">* Invalido</small>             
        </ion-text>
      </ion-label>
      <ion-input type="url" id="avatar" name="avatar" formControlName="avatar"></ion-input>
    </ion-item>

  <!-- Campo Status-->
    <ion-item>
      <ion-label for="status" color="primary">Status:</ion-label>
      <ion-toggle type="status" id="status" name="status" slot="end" formControlName="status"></ion-toggle>
    </ion-item>

  </ion-list>

  <ion-button type="submit" expand="block" class="ion-margin" [disabled]="!userForm.valid">Criar usuário</ion-button>
  
</form>